

.grid-container {
    display: inline-grid;
    grid-template-columns: repeat(16, 30px);
    grid-template-rows: repeat(16, 30px);
    width: auto;
}

.item {
    border: solid 0.5px #000;
}

.clear {
    color: #000;
    font-size: 30px;

}

.item-clear {
    background-color: #fff;
}