

.grid-container {
    display: inline-grid;
    width: 480px;
    height: 480px;
}

.item {
    border: solid 0.5px #000;
}

.clear {
    color: #000;
    font-size: 30px;

}

.item-clear {
    background-color: none;
}

.slider {
    appearance: none;
    width: 20%; 
    height: 25px; 
    background: #d3d3d3; 
    outline: none;
    opacity: 0.7; 
    -webkit-transition: .2s; 
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

